<template name="appBody">
  <div class="wrapper-welcome">
    <div class="title-welcome">Kevin mobile web test</div>
    <div class="description-welcome">This is just my test. Please open in phone browser, not on PC.
    </div>
    
    <div class="description-welcome">
    The app is designed to run on a physical device, where it uses the hardware's native camera and GPS support.
    </div>

    <div class="description-welcome">
    You can also run it in a simulator, or in a desktop browser as a convenience (what you're looking at right now).
    </div>

    <div class="description-welcome">
    This app includes a simple administrative backend that you can use to set welcome text on the app's home screen. Visit <a href="{{pathFor route='admin'}}">/admin</a> to log into the backend. The first authenticated user is allowed access.
    </div>
  </div>

  <div id="container" class="{{menuOpen}} {{overlayOpen}}">
    <section id="menu" class="overthrow">
      <a href="{{pathFor route='home'}}" class="{{activePage 'home'}}">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
          <span class="title-menu">Home</span>
        </span>
      </a>
      <a href="{{pathFor route='feed'}}" class="{{activePage 'feed'}}">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
          <span class="title-menu">What's<br>Cooking</span>
        </span>
      </a>
      <a href="{{pathFor route='recipes'}}" class="{{activePage 'recipes' 'recipe'}}">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
          <span class="title-menu">Recipes</span>
        </span>
      </a>
      <a href="{{pathFor route='bookmarks'}}" class="{{activePage 'bookmarks'}}">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
          <span class="title-menu">Bookmarks</span>
        </span>
      </a>
      <a href="{{pathFor route='about'}}" class="{{activePage 'about'}}">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
          <span class="title-menu">About</span>
        </span>
      </a>
    </section>

      <div class="notifications">
        {{#unless connected}}
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="title-notification">Trying to connect</div>
          </div>
        {{/unless}}
        {{#each notifications}}
          <div class="notification">
            <a class="btn-primary js-notification-action">{{action}}</a>
            <div class="title-notification">{{title}}</div>
          </div>
        {{/each}}
      </div>

    {{> overlay}}

    <div class="content-overlay"></div>

    <div id="content-container">
      {{> yield}}
    </div>

  </div>
</template>