<template name='queue'>
  <div class='page home'>
  {{>nav title="Waiting list" black=true}}
  <div class='content-scrollable'>
    <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/logo-local.svg" alt="Local Market"/>
          {{storeInfo.name}}
        </h1>
        
        <div>{{storeInfo.property.storeAddress}}</div>
        
    </div>
    {{#each storeQueue}}
    
    <div data-qid={{_id}} class="queue-in-list {{sessionEqualtoString 'myPositionQueueId' _id 'my-position' ''}}">
      <h2 class="list-title"><i class="fa fa-mobile fa-lg"></i> {{displayFakeName}} <i class="fa fa-users"></i> {{partyOf}} </h2>
      <div class="list-subtitle">
        <span>{{waitTime}} </span>
        {{#each notifications}}
        <span class='flashing-msg'> {{name}} </span>
        {{else}}
        <span>{{status}}</span>
        {{/each}}
      </div>
    </div>
    {{/each}}
    {{#if isntInQueue}}
    <button class='btn btn-primary openLogin'>Add me in</button>
    {{/if}}
  </div>
  </div>
</template>